h1 {
    color: rgb(0, 234, 255);
  }
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    padding: 5px 10px;
    background-color: #eeeeee;
    border: 1px solid #DDDDDD;
  }
  button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #140101;
    z-index: 1;
    background: #94888836;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   .active {
    background-color: rgba(0, 17, 255, 0.178);
  }